<div class="row">
  <div class="col-sm-3">
    <ul class='list-unstyled'>
      <li>{{link-to 'Overview' 'ember.index' class='Navigation__item'}}</li>
      <li>{{link-to 'Pods' 'ember.pods' class='Navigation__item'}}</li>
      <li>{{link-to 'Ember Data' 'ember.ember-data' class='Navigation__item'}}</li>
      <li>{{link-to 'Components' 'ember.components' class='Navigation__item'}}</li>
      <li>{{link-to 'Forms' 'ember.forms' class='Navigation__item'}}</li>
      <li>{{link-to 'Error handling' 'ember.error-handling' class='Navigation__item'}}</li>
      <li>{{link-to 'Old' 'ember.old' class='Navigation__item'}}</li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>